

:root{

    --primay-color: #7C3AED;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}
body{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}

.navigation {
color: #2df36f;
background-color: var(--primay-color);
padding: 1rem;
border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bolder;
}
.navigation .nav-pills{
    color: var(--off-white);
}
.hero{
        padding: 2rem;
        padding-top: 5rem;
}

.hero .hero-img{
    max-width:80% ;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.section{
    text-align: center;
    background-color: #7C3AED;
    text-decoration: underline;
}

.section h1 {
    text-align: center;
}

.ow {
background-color: var(--primay-color);
}

.section-ow h1{
    text-align: center;
    /* background-color: var(--primay-color); */
}
.section-ow p{
    text-align: center;
}
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primay-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;

}
.link-secondary{
    background-color: var(--primay-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;

}
